:host {
  display: block;
}


.toaster {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.toast {
  position: relative;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  background-color: #2ecc71;
}

.success {
  background-color: #2ecc71;
}

.error {
  background-color: #e74c3c;
}

.warning {
  background-color: #f39c12;
}

.toaster.hidden {
  opacity: 0;
}


.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}
